.wrapper{
  overflow: hidden;
  .register{
    position: absolute;
    right: 70px;
    top: 30px;
    font-size: 30px;
  }
  .bannerWrapper{
    width: 100%;
    height: 211px;
    position: relative;
    .banner{
      width: 100%;
      height: 100%;
    }
    .bannerText{
      position: absolute;
      bottom: 0;
      left: 32px;
      font-size: 46px;
      font-weight: bold;
    }
  }
  .container{
    padding: 60px 32px 0;
    .item{
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfdfdf;
      height: 120px;
      position: relative;
      .image{
        width: 38px;
        height: 38px;
        margin: 0 10px;
      }
      .tel{
        width: 34px;
        height: 46px;
      }
      input{
        font-size: 26px;
        margin-left: 10px;
        flex: 1;
        height: 100%;
      }
      .selectLocation{
        display: flex;
        align-items: center;
        height: 100%;
        .locationName{
          font-size: 28px;
          font-weight: bold;
        }
        .locationImage{
          width: 47px;
          height: 18px;
          margin: 0 10px;
          transition: transform .3s linear;
        }
        .selecting{
          width: 47px;
          height: 18px;
          margin: 0 10px;
          transform: rotate(180deg);
          transition: transform .3s linear;
        }
      }
      .verify{
        width: 180px;
        height: 60px;
        position: absolute;
        right: 0;
        z-index: 3;
      }
      .eye{
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2;
        right: 166px;
      }
      .text{
        color: #30ce84;
        font-size: 28px;
      }
    }
  }
  .confirm{
    color: #fff;
    margin: 50px 39px 0;
    background:linear-gradient(90deg,rgba(81,229,158,1),rgba(48,206,132,1));
    box-shadow:0px 15px 10px 0px rgba(135,248,199,0.2);
    border-radius:45px;
  }
  .login{
    display: block;
    text-align: center;
    margin: 49px 0;
    font-family:Microsoft YaHei;
    font-weight:400;
    color: #666;
    font-size: 28px;
  }
  .passwordType{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 49px 88px;
    .text{
      font-family:Microsoft YaHei;
      font-weight:400;
      color: #666;
      font-size: 28px;
    }
  }
}
