.demo-text-1,.demo-text-2,.demo-text-3{
  width: 100%;
  height: 100%;
  background: #4f4f4f;
}
.demo-text-2{
  background: #efefef;
}
.demo-text-3{
  background: red;
}
.item{
  width: 90%;
}
.creditHome{
  .swiper-item{
    overflow:visible;
    width: 90%!important;
  }
}
