.checked{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dedede;
  box-sizing: border-box;
}
.checkedImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
}
