.agreeContentW {
    height: 100%;
    margin: 0 40px;
    .agreeContent {
        font-size: 26px;
        line-height: 56px;
        padding-bottom: 150px;
        text-indent: 2em;
    }
    .title{
      text-align: center;
      font-size: 36px;
      color: #30ce84;
      line-height: 100px;
    }
}





