.code{
  font-size: 26px;
  white-space: nowrap;
  line-height:normal;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 3;
  padding: 10px 20px;
  border-radius:100px;
}
.canClick{
  color: #30ce84;
  border-color:#30ce84;
}
.noClick{
  color: #fff;
  border-color:#d3d3d3;
  background: #d3d3d3;
}
