@import "../../../../styles/mixin/index.scss";

.wrapper{
  background: #eef1f6;
  .ticketInfo{
    background: #ffffff;
    margin: 20px 30px;
    box-sizing: border-box;
    .ticket{
      background: #313340;
      color: #858796;
      padding: 30px 20px;
      .status{
        color: #30ce84;
      }
      .goods{
        margin-top: 20px;
        display: flex;
        align-items: center;
        height: 180px;
        image{
          flex: 0 0 250px;
          height: 100%;
        }
        .nameWrapper{
          flex: 1;
          margin-left: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 28px;
          .price{
            color: #30ce84;
          }
        }
      }
    }
    .line{
      display: flex;
      align-items: center;
      padding: 20px;
      .time{
        margin-left: 80px;
      }
    }
  }
  .certWrapper{
    padding: 0 25Px;
    background: #ffffff;
    .cert{
      height: 80px;
      display: flex;
      align-items: center;
      position: relative;
      &:after{
        @include border-1px(#dedede, bottom);
      }
      .code{
        margin-left: 50px;
      }
      .right{
        margin-left: auto;
      }
    }
    .qrCode{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 255Px;
      image{
        width: 200Px;
        height: 200Px;
      }
    }
  }
  .userWrapper{
    padding: 0 25Px;
    background: #ffffff;
    margin-top: 20px;
    .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40Px;
      color: #000;
      font-size: 28px;
    }
  }
}
