@import "../../../styles/mixin/index.scss";

.wrapper{
  height: 100vh;
  background: #eef1f6;
  .item{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    position: relative;
    background: #ffffff;
    &:last-child{
      border-bottom: none;
    }
    .name{
      display: flex;
      align-items: center;
      image{
        width: 50px;
        height: 50px;
      }
    }
    .flex{
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .price{
        color: #30ce84;
        font-size: 22px;
        margin-left: 8px;
      }
    }
    input{
      text-align: right;
      height: 100%;
    }

  }
  .content{
    margin-top: 20px;
    background: #ffffff;
    padding: 0 30px;
  }
  .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 24px;
    .protocol{
      color: #30ce84;
    }
  }
  .next{
    background: #30ce84;
    color: #ffffff;
    margin: 0 30px;
    box-sizing: border-box;
  }
}
