@import "../../styles/mixin/index.scss";

.wrapper{
  background: #eef1f6;
  .container{
    background: #ffffff;
    padding: 0 30px 0 50px;
    .item{
      height: 98px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &:after{
        @include border-1px(#dedede, bottom);
      }
      .right{
        position: absolute;
        right: 0;
        width: 30px;
        height: 40px;
      }
    }
    .btn{
      background: #30ce84;
      color: #ffffff;
      border-radius: 50px;
      width: 660px;
      margin-top: 50px;
    }
  }

}
