body,html{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.grey-bg{
  background: #eef1f6;
  overflow: hidden;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
